
/* Menu Change */
main > *{
    display: none;
}

main > *:last-child{
    display: block;
}

main > *:target{
    display: block;
    animation: fade 300ms linear 1;
}

main > *:target ~ *{
    display: none;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: none;
    margin: 0;
}

header{
    height: 100vh;
    width: 20%;
    background: #242F9B;
}

header *{
    font-family: Helvetica;
    color: #FFF;
}
header h1{
    text-align: center;
}
header nav{
    width: 80%;
    margin: 0 auto;
}
header button{
    background: #646FD4;
    width: 80%;
    margin-bottom: 0;
    border: none;
    border-radius: 5px;
}

main{
    overflow: scroll;
    width: 80%;
    padding: 3% 5%;
}