
/* Menu Change */
main > *{
    display: none;
}

main > *:last-child{
    display: block;
}

main > *:target{
    display: block;
    animation: fade 300ms linear 1;
}

main > *:target ~ *{
    display: none;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: none;
    margin: 0;
}

header{
    height: 100vh;
    width: 20%;
    background: #16003B;
}

header *{
    font-family: Helvetica;
    color: #EFEFEF;
}
header h1{
    text-align: center;
}
header nav{
    width: 80%;
    margin: 0 auto;
}
header button{
    background: #F73D93;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 12px 0;
    text-transform: uppercase;
}
header ul{
    list-style: none;
    color: #7F8487;
}
header a{
    text-decoration: none;
}

main{
    overflow: scroll;
    width: 80%;
    padding: 3% 5%;
    background: #F5F5F5;
}
main * {
    color: #16003B;
    font-family: Helvetica;
}

#dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#dashboard h2{
    width: 100%;
}
.card{
    background: #FFF;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}
.card h3, .card p{
    margin: 0;
}
.card figure{
    height: 100%;
    margin: 0;
}
.card img{
    width: 48px;
    height: auto;
}